<!DOCTYPE html>
<div class="modal fade" id="addGroupModal" role="dialog">
    <div class="modal-dialog" style="width:40%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4> Ajouter un groupe</h4>
            </div>

            <div class="modal-body">
                <form method="post" action="/Group/addGroup" >
                    <div class="col-sm-12">
                        <div class="col-sm-12 well well-in-modal">
                            <div class="col-sm-12">
                                <input type="text" id="groupName" placeholder="Nom" name="groupName" />
                            </div>
                            <div>
                                <input type="radio" id="private" name="privacy" value="private" checked />
                                <label for="private">Privé</label>
                            </div>

                            <div>
                                <input type="radio" id="public" name="privacy"  value="public"/>
                                <label for="public">Public</label>
                            </div>
                        </div>
                        <div class="col-sm-12" style="display: inline-block;">
                            <button class="btn btn-primary col-sm-2 pull-right ">Ajouter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
