<!DOCTYPE html>
<div class="modal fade" id="addUserToGroupModal" role="dialog">
    <div class="modal-dialog" style="width:40%;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4> Ajouter un utilisateur</h4>
            </div>

            <div class="modal-body">
                <form method="post" >
                    <div class="col-sm-12">
                        <div class="col-sm-12 well well-in-modal">
                            <div class="col-sm-12">
                                <input type="text" id="userName" placeholder="Nom" />
                                <input type="text" id="userPrenom" placeholder="Prenom" />
                                <input type="hidden" name="groupId" class="groupId"/>
                            </div>
                        </div>
                        <div class="col-sm-12" style="display: inline-block;">
                            <button class="btn btn-primary col-sm-2 pull-right ">Ajouter</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
