.grey {
  color: #555555;
}
.light-green {
  color: #558811;
}
.green {
  color: #336600;
}
.dark-green {
  color: #224400;
}
.grey {
  color: #555555;
}
p {
  color: red;
}
p .test {
  color: blue;
}
