
@{
    ViewBag.Title = "Connexion";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title">
                    Connexion
                </p>
                <form class="login" action="~/Access/Connexion" method="post">
                    <input type="text" placeholder="email" name="email"/>
                    <input type="password" placeholder="password" name="password"/>
                    <input type="submit" value="Sign In" class="btn btn-success btn-sm" />
                </form>
            </div>
        </div>
    </div>
</div>